[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
google-api-python-client = "*"
google-auth-oauthlib = "*"
fastapi-utils = "*"
boto3 = "*"
requests-aws4auth = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
async-exit-stack = "*"
async-generator = "*"

[dev-packages]

[requires]
python_version = "3.9"
